#CC			= g++

#debug
#CFLAGS			= -pipe -g
#CXXFLAGS		= $(CFLAGS) -fPIC -Wall

#release
#CFLAGS			= -march=native -pipe -O2
#CXXFLAGS		= $(CFLAGS) -fPIC

#linux
#MYSQLFLAGS		= -L/usr/include/mysql -lmysqlclient -I/usr/include/mysql
#BOOSTINCLUDE		= 
#BOOSTLIB		= -lboost_thread-mt -lboost_system-mt
#LIBS			= -ldl $(BOOSTLIB)

#centos
#MYSQLFLAGS		= -L/usr/include/mysql -lmysqlclient -I/usr/include/mysql
#BOOSTINCLUDE		= -I/usr/local/boost_1_46_1/
#BOOSTLIB		= /usr/local/boost_1_46_1/stage/lib/libboost_thread.a /usr/local/boost_1_46_1/stage/lib/libboost_system.a
#LIBS			= -ldl -I/usr/local/boost_1_46_1/ $(BOOSTLIB)

#wine
#MYSQLFLAGS		= -L/usr/include/mysql -lmysqlclient -I/usr/include/mysql -L/usr/local/lib/mysql -lz
#BOOSTINCLUDE		= 
#BOOSTLIB		= -lboost_thread-mt
#LIBS			= -ldl $(BOOSTLIB)

#FLAGS			= -j5
