[global]
botnick=tran
ident=tran
realname=tran
chandebug=false
loadmods=ChannelBot OCommands Support
moduledir=.libs/
defaultlanguage=en

[channels]
debugchannel=#chan.debug
overwatchchannel=#chan.overwatch
supportchannel=#chan.support
teamchannel=#chan.team

[irc]
trigger=!
channelbottrigger=!
ocommandstrigger=?
ircserver=irc.server.tld
ircport=6667
ircpass=passwd
floodprotect=true
floodbuffer=20
floodtime=1500

[ircserv]
ircserv=UserManagement
nickserv=false
whoextra=true

[database]
hostname=localhost
databasename=database
username=dbuser
password=dbpass

[config]
#conf/fail.ini
