[global]
botnick=tran
ident=tran
realname=tran
chandebug=false
loadmods=ChannelBot OCommands Support
moduledir=.libs/

[channels]
debugchannel=#chan.debug
supportchannel=#chan.support
teamchannel=#chan.team

[irc]
trigger=!
ircserver=irc.server.tld
ircport=6667
ircpass=passwd
nickserv=true
floodprotect=true
floodbuffer=10
floodtime=2

[database]
hostname=localhost
databasename=database
username=dbuser
password=dbpass
