[global]
botnick=tran
ident=tran
realname=tran irc c++ bot
chandebug=true
loadmods=libchannelbot
moduledir=/usr/local/lib/
defaultlanguage=en

[channels]
debugchannel=#tran.debug
overwatchchannel=#tran.debug

[irc]
ircserver=irc.server.tld
ircport=6667
ircpass=
floodprotect=false
floodbuffer=20
floodtime=1.5

[ircserv]
ircserv=UserManagement
nickserv=false
whoextra=true

[database]
mysqlserver=mysql.dns
database=tran_bot
username=user
password=pass
reply.table=reply
binds.table=binds

[config]
channelbot.conf
